.caseStudy {
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.description {
    margin: 1rem;
    width: 50%;
    letter-spacing: 0.02em;
}

.image {
    display: inline-block;
    margin: 1rem !important;
}
