body {
    font-family: 'Roboto', sans-serif;
    /* font-family: big-caslon-fb; */
    /* font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; */
    /* background-color: #f7efee ; */
    /* font-weight: 300; */
}

/* h1 {
    font-weight: 300;
} */

h2 {
    font-weight: 300;
    font-weight: normal;
} 

a {
    text-decoration: none;
    font-weight: normal;
}