body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: franklin-gothic-urw; */
    font-family: sans-serif;
    /* font-family: big-caslon-fb; */
    /* font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; */
    /* background-color: #f7efee ; */
    font-weight: 300;
    font-size: 20px;
}

/* h1 {
    font-weight: 300;
} */

h2 {
    font-weight: normal;
    /* font-size: 30px; */
}

a {
    text-decoration: none;
    font-weight: normal;
}
